* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}

// HEADER START
header {
  background: #3d3b40;

  .header_content {
    padding: 28px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header_logo {
      a {
        text-decoration: none;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
          color: #525ceb;
        }

        i {
          color: #f8edff;
        }

        h1 {
          margin: 0 14px;
          font-size: 28px;
          font-weight: 500;
          color: #f8edff;
        }
      }
    }

    .header_nav {
      ul {
        list-style: none;
        display: flex;
        margin-bottom: 0px;

        li {
          margin: 0 10px;
          position: relative;

          &:hover {
            a {
              color: #525ceb;
              &::before {
                width: 100%;
              }
            }
          }
          &.active {
            a {
              color: #525ceb;
              &::before {
                width: 100%;
              }
            }
          }
          a {
            font-size: 20px;
            font-weight: 500;
            color: #f8edff;
            text-decoration: none;
            transition: all 0.5s;
            &:before {
              content: "";
              position: absolute;
              width: 0;
              height: 3px;
              background: #525ceb;
              bottom: -5px;
              left: 0;
              transition: all 0.5s;
            }
          }
        }
      }
    }
  }
}
// HEADER END

// TABLE START
.table {
  padding: 40px 0;
  margin-bottom: 0;
  .table_content {
    .table_form {
      .table_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #3d3b40;
        padding: 20px;

        h2 {
          font-size: 18px;
          margin: 0;
          color: #f8edff;
        }
        .btn_add {
          font-size: 14px;
        }
      }
      .modal {
      }
    }
    .table_phone {
      .table {
        thead {
          th {
            font-size: 12px;
          }
        }
      }
    }
  }
}
// TABLE END
