<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Phone_list</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- GG FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;900&display=swap"
      rel="stylesheet"
    />
    <!-- CDN -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <!-- CSS -->
    <link rel="stylesheet" href="../../assets/css/phone-list.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <div class="header_content">
          <div class="header_logo">
            <a href="#">
              <i class="fa-solid fa-robot fa-2xl"></i>
              <h1>CyberPhone</h1>
            </a>
            <!-- <a href="#">
              <img src="../../assets/image/image 3.svg" alt="" />
            </a> -->
          </div>
          <div class="header_nav">
            <ul>
              <li><a href="../../home-customer/view/index.html">Home</a></li>
              <li class="active"><a href="#">Admin</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    <div class="table">
      <div class="container">
        <div class="table_content">
          <div class="table_form">
            <!-- Button trigger modal -->
            <div class="table_header">
              <h2>Product Management</h2>
              <button
                type="button"
                class="btn_add btn-primary btn-lg"
                data-toggle="modal"
                data-target="#modelId"
              >
                Add Product
              </button>
            </div>
            <!-- Modal -->
            <div
              class="modal fade"
              id="modelId"
              tabindex="-1"
              role="dialog"
              aria-labelledby="modelTitleId"
              aria-hidden="true"
            >
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title">Add Product</h5>
                    <button
                      type="button"
                      class="close"
                      data-dismiss="modal"
                      aria-label="Close"
                    >
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <!-- MODAL BODY START -->
                    <div id="phoneForm">
                      <!-- ID -->
                      <div class="form-group">
                        <label for="phoneId">Phone ID</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneID"
                          placeholder="ID"
                          value=""
                          required
                        />
                        <div id="invalidID" class="invalid-feedback"></div>
                      </div>
                      <!-- Name -->
                      <div class="form-group">
                        <label for="phoneName">Name</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneName"
                          placeholder="Phone Name"
                          value=""
                          required
                        />
                        <div id="invalidName" class="invalid-feedback"></div>
                      </div>
                      <!-- Price -->
                      <div class="form-group">
                        <label for="phonePrice">Price</label>
                        <input
                          type="number"
                          class="form-control"
                          id="phonePrice"
                          placeholder="Phone Price"
                          value=""
                          required
                        />
                        <div id="invalidPrice" class="invalid-feedback"></div>
                      </div>
                      <!-- Screen -->
                      <div class="form-group">
                        <label for="phoneScreen">Screen</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneScreen"
                          placeholder="Phone Screen"
                          value=""
                          required
                        />
                        <div id="invalidScreen" class="invalid-feedback"></div>
                      </div>
                      <!-- Back Camera -->
                      <div class="form-group">
                        <label for="phoneBackCamera">Phone Back Camera</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneBackCamera"
                          placeholder="Phone Back Camera"
                          value=""
                          required
                        />
                        <div
                          id="invalidBackCamera"
                          class="invalid-feedback"
                        ></div>
                      </div>
                      <!-- Front Camera -->
                      <div class="form-group">
                        <label for="phoneFrontCamera">Phone Front Camera</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneFrontCamera"
                          placeholder="Phone Front Camera"
                          value=""
                          required
                        />
                        <div
                          id="invalidFrontCamera"
                          class="invalid-feedback"
                        ></div>
                      </div>
                      <!-- IMG -->
                      <div class="form-group">
                        <label for="phoneImage">Phone Image</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneImage"
                          placeholder="Phone Image"
                          value=""
                          required
                        />
                      </div>
                      <!-- Description -->
                      <div class="form-group">
                        <label for="phoneDescription">Phone Description</label>
                        <input
                          type="text"
                          class="form-control"
                          id="phoneDescription"
                          placeholder="Phone Description"
                          value=""
                          required
                        />
                        <div
                          id="invalidDescription"
                          class="invalid-feedback"
                        ></div>
                      </div>
                      <!-- Type -->
                      <div class="form-group">
                        <label for="phoneType">Phone Type</label>
                        <select class="form-control" id="phoneType" required>
                          <option value="">Choose type of phone</option>
                          <option value="0">Samsung</option>
                          <option value="1">Iphone</option>
                        </select>
                        <div id="invalidType" class="invalid-feedback"></div>
                      </div>
                    </div>

                    <!-- MODAL BODY END -->
                  </div>
                  <div class="modal-footer">
                    <button
                      onclick="createPhone()"
                      type="button"
                      class="btn btn-success"
                    >
                      Add
                    </button>
                    <button onclick="" type="button" class="btn btn-primary">
                      Update
                    </button>
                    <button
                      type="button"
                      class="btn btn-secondary"
                      data-dismiss="modal"
                    >
                      Close
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- end modal -->
          </div>
          <div class="table_phone">
            <table class="table bg-primary">
              <thead>
                <tr>
                  <th class="text-center">ID</th>
                  <th class="text-center">Name</th>
                  <th class="text-center">Price</th>
                  <th class="text-center">Photo</th>
                  <th class="text-center">Description</th>
                  <th class="text-center">Action</th>
                </tr>
              </thead>
              <tbody id="listPhone"></tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <img src="" />
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <!-- AXIOS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js"
      integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <!-- MAIN JS -->
    <!-- <script src="../services/Service.js"></script> -->
    <script src="../controller/main.js"></script>
  </body>
</html>
